$step-status-size: 20px;
$step-indicator-gap-size: 4px;
$step-indicator-border-size: 2px;
$step-progress-border-size: 1px;
$step-progress-default: grey;
$step-progress-completed: #5cb85c;
$step-progress-skipped: rgb(255, 238, 0);
$step-animation-time: 0.2s